{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}Учні обраного класу{% endblock title %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/ClassPage.css' %}">
{% endblock styles %}
{% block content %}
  {{ block.super }}
  <div class='class_content'>
    <h1>Учні класу</h1>
    <table>
      <thead>
        <tr>
          <th>ПІБ</th>
          <th>Дія</th>
        </tr>
      </thead>
      <tbody>
        {% for student in class_students %}
          <tr>
            <td>{{ student.1 }} {{ student.2 }}</td>
            <td><button onclick="location.href='{% url 'show-teacher-student-page' class_id=class_id student_id=student.0 %}'">Перегляд особових даних</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'show-teacher-student-stats-page' class_id=class_id %}" class='schedule'>Переглянути оцінки та відвідуваність учнів класу</a>
    <a href="{% url 'show-teacher-student-comp-page' class_id=class_id %}" >Переглянути здобуті учнями класу компетентності</a>
  </div>
{% endblock %}
