{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Перегляд зареєстрованих класів
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/ClassesList.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <h2>Зареєстровані Класи:</h2>
  <table>
    <thead>
      <tr>
        <th>Назви</th>
        <th>Спеціалізація</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for class in classes %}
        <tr>
          <td>{{ class.0 }}</td>
          <td>{{ class.1 }}</td>
          <td><button onclick="location.href='{% url 'show-coord-class-page' class.2 %}'">Перегляд</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
 </div>
{% endblock %}