{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Сторінка дій Координатора
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/CoordPage.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <div class='content_header'>
    <h2>Ваша сторінка</h2>
  </div>
  <div class='content_body'>
    <a href="{% url 'show-teachers-list' %}">Переглянути зареєстрованих у системі вчителів</a>
    <a href="{% url 'show-dates-form-coord' %}">Переглянути доступні заняття</a>
    <a href="{% url 'show-coord-classes-page' %}">Переглянути зареєстровані у системі класи</a>
    <a href="add_student/" class='a_last'>Зареєструвати нового учня</a>
  </div>
 </div>
{% endblock %}