{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Перегляд класу
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/CoordClass.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <h1>Учні класу</h1>
    <table>
      <thead>
        <tr>
          <th>Учень/учениця</th>
          <th>Дії</th>
        </tr>
      </thead>
      <tbody>
        {% for student in class_students %}
          <tr>
            <td>{{ student.1 }} {{ student.2 }}</td>
            <td><button onclick="location.href='{% url 'show-coord-student-page' class_id=class_id student_id=student.0 %}'">Перегляд</button></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'add-student-to-class' class_id=class_id %}">Додати нового учня/ученицю до класу</a>
    <a href="{% url 'show-coord-page' %}" id="back">Повернутись до своєї сторінки</a>
 </div>
{% endblock %}