{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Здобуті учнями компетенції
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/StudentComp.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <h1>Компетенції учнів класу '{{ class_name }}'</h1>
  <table class='comp_table'>
    <thead>
      <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>Компетенція</th>
        <th>Дисципліна</th>
        <th>Рівень оволодіння</th>
        <th>Дата+час оцінення</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for comp in student_comp %}
      <tr>
        <td>{{ comp.0 }}</td>
        <td>{{ comp.1 }}</td>
        <td>{{ comp.2 }}</td>
        <td>{{ comp.3 }}</td>
        <td>{{ comp.4 }}</td>
        <td>{{ comp.5 }}</td>
        <td><button onclick="location.href='{% url 'handle-comp' class_id=id_class %}?action_type={{ 'alter' }}'">
          Редагувати
        </button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'handle-comp' class_id=id_class %}?action_type={{ 'insert' }}" class='add_record'>Зареєструвати компетенцію учня</a>
  <a href="{% url 'show-teacher-page' %}" class='go_back'>Повернутись до своєї сторінки</a>
 </div>
{% endblock %}