{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Оцінки та відвідуваність учнів
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/StudentStats.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <h1>Статистика учнів</h1>
  <div class='stats'>
    <div class='grades'>
      <h2>Оцінки</h2>
      <table class='grade_table'>
        <thead>
          <tr>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>Клас</th>
            <th>Дисципліна</th>
            <th>Оцінюваний елемент</th>
            <th>Дата заняття</th>
            <th>Початок заняття</th>
            <th>Оцінка</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody>
          {% for grade in student_grades %}
          <tr>
            <td>{{ grade.0 }}</td>
            <td>{{ grade.1 }}</td>
            <td>{{ grade.2 }}</td>
            <td>{{ grade.3 }}</td>
            <td>{{ grade.4 }}</td>
            <td>{{ grade.5 }}</td>
            <td>{{ grade.6 }}</td>
            <td>{{ grade.7 }}</td>
            <td><button onclick="location.href='{% url 'edit-student-grade' class_id=id_class grade_id=grade.10 student_id=grade.8 lesson_id=grade.9 %}'">Редагувати</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='attend'>
      <h2>Відвідування занять</h2>
      <table class='attend_table'>
        <thead>
          <tr>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>Клас</th>
            <th>Дисципліна</th>
            <th>Дата заняття</th>
            <th>Початок заняття</th>
            <th>Статус</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody>
          {% for attend in student_attend %}
          <tr>
            <td>{{ attend.0 }}</td>
            <td>{{ attend.1 }}</td>
            <td>{{ attend.2 }}</td>
            <td>{{ attend.3 }}</td>
            <td>{{ attend.4 }}</td>
            <td>{{ attend.5 }}</td>
            <td>{{ attend.6 }}</td>
            <td><button onclick="location.href='{% url 'edit-student-attendance' class_id=id_class attend_id=attend.9 student_id=attend.7 lesson_id=attend.8 %}'">
              Редагувати
            </button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class='action'>
    <a href="add_grade/">Зареєструвати оцінку учня</a>
    <a href="add_attendance/">Зареєструвати відвідування заняття учнем</a>
  </div>
 </div>
{% endblock %}