{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Перегляд зареєстрованих вчителів
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/TeachersList.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <h1>Зареєстровані Вчителі:</h1>
  <table>
    <thead>
      <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По-батькові</th>
        <th>Дисципліни</th>
        <th>Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher, disciplines in disciplines_dict.items %}
        <tr>
          <td>{{ teacher.0 }}</td>
          <td>{{ teacher.1 }}</td>
          <td>{{ teacher.2 }}</td>
          <td>
            {% for discipline in disciplines %}
            {{ discipline.0 }},<br>
            {% endfor %}
          </td>
          <td><button onclick="location.href='{% url 'show-coord-teacher-page' teacher_id=teacher.3 %}'">Переглянути</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'add-teacher' %}" class='register'>Зареєструвати нового вчителя</a>
  <a href="{% url 'add-teacher-to-class' %}">Додати керівника до класу</a>
  <a href="{% url 'show-coord-page' %}">Повернутись до своєї сторінки</a>
 </div>
{% endblock %}