{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Перегляд зареєстрованих вчителів
{% endblock %}
{% block styles %}
  {{ block.super }}
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class='content'>
  <h2>Зареєстровані Вчителі:</h2>
  <table>
    <thead>
      <tr>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>По-батькові</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teachers %}
        <tr>
          <td>{{ teacher.0 }}</td>
          <td>{{ teacher.1 }}</td>
          <td>{{ teacher.2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="">Зареєструвати нового вчителя</a>
 </div>
{% endblock %}