{% extends "WorkerPage.html" %}
{% load static %}
{% block title %}
  Сторінка Вчителя
{% endblock %}
{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/TeacherPage.css' %}">
{% endblock %}
{% block content %}
 {{ block.super }}
 <div class="teacher_action">
  <h1>Ваша сторінка</h1>
  <div class='action_list'>
    <h2>Доступні Класи:</h2>
    {% if is_None %}
      <p>На даний момент немає доступних класів</p>
    {% else %}
      <table>
        <thead>
          <tr>
            <th>Назва класу</th>
            <th>Спеціалізація</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody>
          {% for class in classes %}
            <tr>
              <td>{{ class.1 }}</td>
              <td>{{ class.2 }}</td>
              <td><button onclick="location.href='{% url 'show-teacher-class-page' class.0 %}'">Перегляд</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <a href="{% url 'show-dates-form-lessons' %}" class='schedule'>Переглянути свої заняття</a>
  </div>
 </div>
{% endblock %}
