<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Особиста сторінка{% endblock %}</title>
  {% load static %}
  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/WorkerPage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div id='user_head'>
      <h2 id='profile'>Профіль</h2>
      <div class='user_data'>
        <div id='last_name'>
          {{ w_last_name }}
        </div>
        <div id='first_name'>
          {{ w_first_name }}
        </div>
        <img class='photo' src="{% static w_photo %}">
        <div id='role'>
          {{ w_role }}
        </div>
        <a href="/" class='exit'>Вихід</a>
      </div>
    </div>
    
  {% endblock %}
</body>
</html>