<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Особиста сторінка{% endblock %}</title>
  {% load static %}
  {% block styles %}
    <link rel="stylesheet" href="{% static 'css/WorkerPage.css' %}">
  {% endblock %}
</head>
<body>
  {% block content %}
    <div id='user_head'>
      <h2 id='profile'>Профіль</h2>
      <div id='last_name'>
        {{ w_last_name }}
      </div>
      <div id='first_name'>
        {{ w_first_name }}
      </div>
      <div id='patronymic'>
        {{ w_patronymic }}
      </div>
      <img class='photo' src="{% static w_photo %}">
      <div id='role'>
        {{ w_role }}
      </div>
    </div>
  {% endblock %}
</body>
</html>