.teacher_action {
  height: 100%;
  margin-top: 8vh;
  background-color: lightblue;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;

  font-size: 30px;
}

h1 {
  font-size: 35px;
}

.action_list {
  width: 100%;
  background-color: rgb(90, 153, 173);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

.schedule {
  width: 20%;
  margin: auto;
  margin-bottom: 2%;
  display: block;
  font-size: 30px;
  border: solid 3px white;
  padding: 2vh;
}

table {
  margin-bottom: 5%;
  border-collapse: collapse;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;

  font-size: 18px;
}

th, td {
  background-color: white;
  border: 1px solid black;
  margin: 0;
  color: black;
  height: auto;
  width: auto;

  padding: 1%;
}

button {
  font-size: 18px;
}

/* .lessons_done {
  
} */