.teacher_action {
  background-color: lightblue;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.action_list {
  width: 100%;
  background-color: brown;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 28px;
}

.schedule {
  display: block;
}

table {
  margin-bottom: 5%;
  border-collapse: collapse;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  background-color: white;
  border: 1px solid black;
  margin: 0;
  color: black;
  height: auto;
  width: auto;
}

/* .lessons_done {
  
} */